.wrapper {
    display: flex;
    flex-direction: row;
}

.wrapper:focus-within {
    outline: 1px solid #c3c3c3;
}

input {
    flex: 1;
}

input,
button {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    background: none;
    color: #fefefe;
}

button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
}

.search {
    display: none;
}

@media only screen and (min-width: 240px) and (max-width: 64em) {
    .s-text {
        display: none;
    }

    .search {
        display: block;
    }

    input {
        width: 96px;
        font-size: 24px;
    }
}